<div class="block-newsletter">
    <div class="container container-smaller paris-bg">
        <div class="inner"><span class="title"> Join Our Community</span>
          <p>  Discover new collections, access to private sales, and receive exclusive offers</p>
 <div class="klaviyo-form-Vk3WQ9"></div>
            <p class="legals">By subscribing, you agree to the processing of your personal data specified in the terms of sale.

</p>
        </div>
    </div>
</div>





